<div class="cd-fixed-bg cd-bg-4 fade-in zero">
 <figure class="pos-absolute center-block top-10-percent fade-in one" >
  <img src="../images/me.jpg" class="img-responsive img-circle center-block" id="me-photo">
</figure>
</div>


<div class="fade-in one" style="position:absolute; top: 50%; width:100%; text-align:center">
  <button class="btn btn-inverse">
    <span class="icon-google-plus"></span>
  </button>
  <button class="btn btn-inverse">
    <span class="icon-twitter"></span>
  </button>
  <button class="btn btn-inverse">
    <span class="icon-github4"></span>
  </button>
  <button class="btn btn-inverse">
    <span class="icon-facebook"></span>
  </button>
</div>

<div style="min-height: 100%">
  <div class="container">
    <div class="row text-center fade-in two">
      <div class="container">
        <div class="col-md-12">
          <h1>¿Quién soy?</h1>
        </div>
      </div>
    </div>
    <div class="row fade-in three">
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/bogota.jpg">
        </figure>
        <h3>Bogotá</h3>
        <p>¡Hola! Soy Diego Salazar, Desarrollador web y móvil viviendo en Bogotá, Colombia.</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/empirico.jpeg">
        </figure>
        <h3>Empírico</h3>
        <p>Orgullosamente soy autodidacta y empírico desde que era niño. Cada día aprendo nuevas cosas.</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/mac-cat.jpg">
        </figure>
        <h3>Apple</h3>
        <p>Desde hace siete años experimento con productos Apple.</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/bajo.jpg">
        </figure>
        <h3>Bajista</h3>
        <p>En mi tiempo libre toco canciones que van desde Rock hasta Jazz.</p>
      </div>
    </div>
     <div class="row text-center">
        <div class="container">
          <div class="col-md-12">
            <h1>¿Qué hago?</h1>
          </div>
        </div>
     </div>
     <div class="row fade-in three">
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/code.jpg">
        </figure>
        <h3>Código</h3>
        <p>Limpio, organizado y escalable para proyectos pequeños, medianos o grandes</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/startup.jpg">
        </figure>
        <h3>Startups</h3>
        <p>Apoyo el ecosistema emprendedor de Colombia con Startups innovadoras</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/coworking.jpg">
        </figure>
        <h3>Coworking</h3>
        <p>Compartir espacios de trabajo con otros para aprender y mejorar.</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/vivir.jpg">
        </figure>
        <h3>Vivir</h3>
        <p>Mi base: Crear experiencias únicas en mi vida y en mis productos.</p>
      </div>
    </div>
    <div class="row text-center">
        <div class="container">
          <div class="col-md-12">
            <h1>Tecnologías</h1>
          </div>
        </div>
     </div>
    <div class="row fade-in three">
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/movil.jpg">
        </figure>
        <h3>Móvil</h3>
        <p>Swift y Objective-C para iPhone y iPad</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/frontend.jpg">
        </figure>
        <h3>Frontend</h3>
        <p>HTML5, CSS3, JQuery, Bootstrap, AngularJS</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/backend.jpg">
        </figure>
        <h3>Backend</h3>
        <p>LAMP, MEAN stack(Mongodb, Express, AngularJS, Node.js)</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/diseno.jpg">
        </figure>
        <h3>Diseño</h3>
        <p>Adobe Photoshop, Adobe Illustrator.</p>
      </div>
    </div>
  </div>
</div>

<div class="cd-fixed-bg cd-bg-2">
    <div style="width: 100%; height: 100%">
        <div class="row" style="text-align: center; padding-top: 10%; color: #ffffff">
            <h2>¿Tienes curiosidad?</h2>
        </div>
        <div class="row" style="text-align: center; padding-top: 8%; color: #ffffff">
            <p>Quizás tengamos intereses comunes…</p>
        </div>
        <div class="row" style="text-align: center; padding-top: 8%">
            <a class="btn btn-md btn-inverse">Portafolio</a>
            <a class="btn btn-md btn-inverse">Contacto</a>
        </div>
    </div>
</div>