<!-- /////      Seccion  1      ///// -->
<div class="cd-fixed-bg cd-bg-4 fade-in zero">
    <figure class="pos-absolute center-block top-10-percent fade-in one" >
        <img src="../images/me.jpg" class="img-responsive img-circle center-block" id="me-photo">
    </figure>
</div>

    <!-- /////      Social Icons        ///// -->
<div class="fade-in one" style="position:absolute; top: 50%; width:100%; text-align:center">
    <button class="btn btn-inverse">
        <span class="icon-google-plus"></span>
    </button>
    <button class="btn btn-inverse">
        <span class="icon-twitter"></span>
    </button>
    <button class="btn btn-inverse">
        <span class="icon-github4"></span>
    </button>
    <button class="btn btn-inverse">
        <span class="icon-facebook"></span>
    </button>
</div>
<!-- /////      Fin Seccion 1       ///// -->

<!-- /////      About       ///// -->
<div style="min-height: 100%">
    <div class="container">
        <!-- /////      Quien Soy       ///// -->
        <div class="row text-center fade-in two">
            <div class="container">
                <div class="col-md-12">
                    <h1>¿Qui&eacute;n soy?</h1>
                </div>
            </div>
        </div>
        <div class="row fade-in three">
            <div class="col-xs-6 col-md-3">
                <figure>
                    <img class="about-photo" src="../images/bogota.jpg">
                </figure>
                <h3>Bogot&aacute;</h3>
                <p>¡Hola! Soy Diego Salazar, Desarrollador web y m&oacute;vil viviendo en Bogot&aacute;, Colombia.</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <figure>
                    <img class="about-photo" src="../images/empirico.jpeg">
                </figure>
                <h3>Emp&iacute;rico</h3>
                <p>Orgullosamente soy autodidacta y emp&iacute;rico desde que era niño. Cada d&iacute;a aprendo nuevas cosas.</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <figure>
                    <img class="about-photo" src="../images/mac-cat.jpg">
                </figure>
                <h3>Experiencia</h3>
                <p>Desde hace siete años experimento con productos Apple.</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <figure>
                    <img class="about-photo" src="../images/bajo.jpg">
                </figure>
                <h3>Bajista</h3>
                <p>En mi tiempo libre disfruto tocar canciones que van desde Rock hasta Jazz.</p>
            </div>
        </div>
        <!-- /////      Fin Quien Soy       /////-->

        <!-- /////      Lo Que Hago     ///// -->
        <div class="row text-center">
            <div class="container">
                <div class="col-md-12">
                    <h1>¿Qu&eacute; hago?</h1>
                </div>
            </div>
        </div>
        <div class="row fade-in three">
            <div class="col-xs-6 col-md-3">
                <figure>
                    <img class="about-photo" src="../images/code.jpg">
                </figure>
                <h3>C&oacute;digo</h3>
                <p>Hago c&oacute;digo limpio, organizado y escalable para cualquier tipo de proyecto.</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <figure>
                    <img class="about-photo" src="../images/startup.jpg">
                </figure>
                <h3>Startups</h3>
                <p>Apoyo el ecosistema emprendedor de Colombia con Startups innovadoras.</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <figure>
                    <img class="about-photo" src="../images/coworking.jpg">
                </figure>
                <h3>Coworking</h3>
                <p>Comparto espacios de trabajo con otras personas para aprender y mejorar.</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <figure>
                    <img class="about-photo" src="../images/vivir.jpg">
                </figure>
                <h3>Vivir</h3>
                <p>Mi escencia es crear experiencias &uacute;nicas en mi vida y en mis productos.</p>
            </div>
        </div>
        <!-- /////      Fin Lo Que Hago     ///// -->

        <!-- /////      Tecnologias     ///// -->
        <div class="row text-center">
            <div class="container">
                <div class="col-md-12">
                    <h1>Tecnolog&iacute;as</h1>
                </div>
            </div>
        </div>
        <div class="row fade-in three">
            <div class="col-xs-6 col-md-3">
                <figure>
                    <img class="about-photo" src="../images/movil.jpg">
                </figure>
                <h3>M&oacute;vil</h3>
                <p>Swift y Objective-C para iPhone y iPad</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <figure>
                    <img class="about-photo" src="../images/frontend.jpg">
                </figure>
                <h3>Frontend</h3>
                <p>HTML5, CSS3, JQuery, Bootstrap, AngularJS</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <figure>
                    <img class="about-photo" src="../images/backend.jpg">
                </figure>
                <h3>Backend</h3>
                <p>LAMP, MEAN stack(Mongodb, Express, AngularJS, Node.js)</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <figure>
                    <img class="about-photo" src="../images/diseno.jpg">
                </figure>
                <h3>Diseño</h3>
                <p>Adobe Photoshop, Adobe Illustrator.</p>
            </div>
        </div>
        <!-- /////      Fin Tecnologias     ///// -->
    </div>
</div>
<!-- /////      Fin About       ///// -->

<!-- /////      Footer Section       /////-->
<div class="cd-fixed-bg cd-bg-2">
    <div style="width: 100%; height: 100%">
        <div class="row" style="text-align: center; padding-top: 10%; color: #ffffff">
            <h2>¿Tienes curiosidad?</h2>
        </div>
        <div class="row" style="text-align: center; padding-top: 8%; color: #ffffff">
            <p>Quiz&aacute;s tengamos intereses comunes…</p>
        </div>
        <div class="row" style="text-align: center; padding-top: 8%">
            <a class="btn btn-md btn-inverse" href="#/portafolio">Portafolio</a>
            <a class="btn btn-md btn-inverse" href="/contacto">Contacto</a>
        </div>
    </div>
</div>
<!-- /////      Fin Footer Section      ///// -->