<div class="cd-fixed-bg cd-bg-2">
  
</div>

<figure class="pos-absolute center-block top-10-percent fade-in zero" >
  <img src="../images/me.jpg" class="img-responsive img-circle center-block" id="me-photo">
</figure>
<div class="fade-in one" style="position:absolute; top: 50%; width:100%; text-align:center">
  <button class="btn btn-inverse">
    <span class="icon-google-plus"></span>
  </button>
  <button class="btn btn-inverse">
    <span class="icon-twitter"></span>
  </button>
  <button class="btn btn-inverse">
    <span class="icon-github4"></span>
  </button>
  <button class="btn btn-inverse">
    <span class="icon-facebook"></span>
  </button>
</div>

<div style="min-height: 100%">
  <div class="container">
    <div class="row text-center fade-in two">
      <div class="container">
        <div class="col-md-12">
          <h1>Quién soy yo?</h1>
        </div>
      </div>
    </div>
    <div class="row fade-in three">
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/ab1.jpg">
        </figure>
        <h3>Bogotá</h3>
        <p>Desde los 3 años en la capital de Colombia.</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/ab2.jpg">
        </figure>
        <h3>Bajo</h3>
        <p>Desde los 3 años en la capital de Colombia.</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/ab3.jpg">
        </figure>
        <h3>Futbol</h3>
        <p>Desde los 3 años en la capital de Colombia.</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <figure>
          <img class="about-photo" src="../images/ab1.jpg">
        </figure>
        <h3>iPhone</h3>
        <p>Desde los 3 años en la capital de Colombia.</p>
      </div>
    </div>
  </div>
</div>

<div class="cd-fixed-bg cd-bg-2">
  
</div>