<div class="cd-fixed-bg cd-bg-1 fade-in zero">
    <div class="row" style="text-align: center; padding-top: 10%; color: #F7F7F7">
        <div class="col-md-12">
            <h2>Hablemos…</h2>
        </div>
    </div>
    <div class="row center-block" style="text-align: center; color: #F7F7F7">
        <div class="col-md-12">
            <h3>¿Tienes algún proyeto en el que pueda ayudarte, quieres trabajar conmigo, o simplemente conocerme más?</h3>
        </div>
    </div>
</div>

<div class="full-section">
    <div class="">

    </div>
</div>