<div class="cd-fixed-bg cd-bg-1 fade-in zero" style="min-height: 0">
    <div class="row" style="text-align: center; padding-top: 10%; color: #F7F7F7">
        <div class="col-md-12">
            <h2>Hablemos…</h2>
        </div>
    </div>
    <div class="row center-block" style="text-align: center; color: #F7F7F7; padding-bottom: 1em">
        <div class="col-md-12">
            <h3>Si tienes alg&uacute;n proyeto en el que pueda colaborar, quieres asociarte y trabajar conmigo, no dudes en contactarme.</h3>
        </div>
    </div>
</div>

<div class="full-section fade-in one">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div id="success" class="hidden alert alert-success"><strong><span class="glyphicon glyphicon-send"></span> Listo! :) El mensaje ha sido enviado. </strong></div>
                    <div id="error" class="hidden alert alert-danger"><span class="glyphicon glyphicon-alert"></span><strong> Error! :( Verifica los datos de nuevo.</strong></div>
                </div>
            </div>
            <form id="myForm" role="form">
                <div class="col-lg-6">
                    <div class="hidden well well-sm"><strong><i class="glyphicon glyphicon-ok form-control-feedback"></i> Campo obligatorio</strong></div>
                    <div class="form-group">
                        <label for="name">Tu nombre</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="C&oacute;mo te llamas?" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                    </div>
                    <div class="form-group">
                        <label for="email">Tu E-mail</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="C&oacute;mo es tu e-mail?" required  >
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Mensaje</label>
                        <div class="input-group">
                            <textarea name="message" id="message" class="form-control" rows="5" required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputReal">Cu&aacute;nto es 4 + 3?</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputReal" id="InputReal" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Enviar" class="btn btn-default pull-right">
                </div>
            </form>
            <hr class="featurette-divider hidden-lg">
            <div class="col-lg-5 col-md-push-1">
                <address>
                    <h3>Bogot&aacute;, Colombia</h3>
                    <p class="lead"><a href="mailto:hola@diegosalazar.com.co"><span class="glyphicon glyphicon-envelope"></span><br>
                        hola@diegosalazar.com.co</a><br>
                        <span class="glyphicon glyphicon-phone"></span> WhatsApp: +57 318-772-7738<br>
                </address>
            </div>
        </div>
    </div>
</div>
<!-- /////      Seccion  1      ///// -->
<div class="cd-fixed-bg cd-bg-1 fade-in zero" style="min-height: 15%">
    <!-- /////      Social Icons        ///// -->
    <div class="fade-in one" style="position:relative; padding-top: 1em; width:100%; text-align:center; padding-bottom: 30px">
        <a class="btn btn-inverse" href="https://plus.google.com/u/0/+DiegoSalazarCyberia" target="_blank">
            <span class="icon-google-plus"></span>
        </a>
        <a class="btn btn-inverse" href="https://twitter.com/diegosalazarco" target="_blank">
            <span class="icon-twitter"></span>
        </a>
        <a class="btn btn-inverse" href="https://github.com/diegosalazarco" target="_blank">
            <span class="icon-github4"></span>
        </a>
        <a class="btn btn-inverse" href="https:/facebook.com/cer0un0" target="_blank">
            <span class="icon-facebook"></span>
        </a>
    </div>
</div>


