<article id="canvas-div" >
    <canvas drawing></canvas>

    <div class="pos-absolute" id="main-text">
        <div class="row clear-margin">
            <div class="col-md-12">
                <figure class="fade-in zero">
                    <img src="images/logo cooldev-01.png" id="logo-cool">
                </figure>
            </div>
        </div>
        <div class="row fade-in one">
            <div class="col-md-12">
                <h1 id="title-name">Diego <strong>Salazar</strong></h1>
            </div>
        </div>
        <div class="row fade-in two">
            <div class="col-md-12">
                <h2 data-typer-targets="Hello,Hi,Hola,Hall" id="subtitle">Desarrollo iOS apps</h2>
            </div>
        </div>
        <!-- /////      Inline Menu     ///// -->
        <div class="row fade-in three">
            <div class="">
                <a href="#/about" class="btn btn-md btn-default">Sobre mi</a>
                <a href="#/portafolio" class="btn btn-md btn-default">Portafolio</a>
                <a href="#/" class="btn btn-md btn-default">Blog</a>
                <a href="#/contacto" class="btn btn-md btn-default">Contacto</a>
            </div>
        </div>
        <!-- /////      Fin Inline Menu        /////-->
    </div>
</article>