<div class="cd-fixed-bg cd-bg-3 fade-in zero">
    <div class="container" style="padding-top: 3em">
        <div class="row">
            <div class="col-md-12">
                <img class="center-block" src="../images/mbp.png" style="max-width: 80%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style="color: #F7F7F7">Portafolio Digital</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="glyphicon glyphicon-menu-down" style="color: #F7F7F7; font-size: 3em"></span>
            </div>
        </div>
    </div>
</div>

<div class="full-section fade-in one" style="background-color: #f69d3d">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12 no-gutter ">
                <div class="thumbnail" style="background-color: #f69d3d; border-color: #f69d3d">
                    <img class="center-block"src="../images/tutoriapp.jpg" style="width: 85%; height: 85%">
                    <div class="caption">
                        <p style="margin-top: 10px;color:white; font-size: 1.3em; text-align:center;">
                            Tutoriapp facilita el estudio y trabajo colaborativo entre estudiantes. Con esta App puedes ganar dinero compartiendo conocimientos y ayudando otros estudiantes. Pr&oacute;ximamente disponible en la AppStore de Apple.
                        </p>
                        <p class="text-center">
                            <a class="btn btn-md btn-white">TutoriApp</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="full-section" style="background-color: #4482BE">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12 no-gutter ">
                <div class="thumbnail" style="background-color: #4482BE; border-color: #4482BE">
                    <img class="center-block"src="../images/mytaskr.jpg" style="width: 85%; height: 85%">
                    <div class="caption">
                        <p style="margin-top: 10px;color:white; font-size: 1.3em; text-align:center;">
                            myTaskr es una aplicaci&oacute;n web que organiza tus ideas y las plasma en tareas y subtareas, utilizando el grandioso m&eacute;todo Kanban (to-dos, doing, done).
                        </p>
                        <p class="text-center">
                            <a class="btn btn-md btn-white">myTaskr</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cd-fixed-bg cd-bg-3">
    <div style="width: 100%; height: 100%; padding-bottom: 30px">
        <div class="row" style="text-align: center; padding-top: 3em; color: #ffffff">
            <h2>A&uacute;n hay m&aacute;s ...</h2>
        </div>
        <div class="row" style="text-align: center; padding-top: 3em; color: #ffffff">
            <p><a href="/blog" style="color: #F7F7F7">Visita mi blog.</a></p>
        </div>
        <div class="row" style="text-align: center; padding-top: 3em">
            <a class="btn btn-lg btn-inverse" href="/blog">Blog</a>
            <a class="btn btn-lg btn-inverse" href="#/contacto">Contacto</a>
        </div>
    </div>
</div>