<div class="cd-fixed-bg cd-bg-3">
  
</div>

<div class="full-section" style="background-color: #f69d3d">
  <div class="container">
	  <div class="row">
	  	<div class="col-sm-12">
	  		<figure class="center-block top-10-percent">
    			<img class="center-block"src="../images/tutoriapp.jpg" style="width: 200px; height: 188px;">
    		</figure>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-12">
	  		<div class="container">
	  			<p style="margin-top: 10px;color:white; font-size: 1.3em; text-align:center;">
	  				Facilitando el estudio y trabajo entre estudiantes universitarios. Con esta app puedes ganar dinero compartiendo conocimientos. Disponible en iPhone.
	  			</p>
	  		</div>
	  	</div>
	  </div>
      <div class="row">
          <div class="col-sm-12">
              <div class="container text-center">
                  <a class="btn btn-md btn-white">TutoriApp</a>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="full-section" style="background-color: #4380bb">
  <div class="container">
	  <div class="row">
	  	<div class="col-sm-12">
	  		<figure class="center-block top-10-percent">
    			<img class="center-block"src="../images/mytaskr.jpg" style="width: 200px; height: 188px;">
    		</figure>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-12">
	  		<div class="container">
	  			<p style="margin-top: 10px;color:white; font-size: 1.3em; text-align:center;">
	  				myTaskr es una aplicación web que organiza tus ideas en tareas y subtareas, utilizando el método Kanban (to-dos, doing, done).
	  			</p>
	  		</div>
	  	</div>
	  </div>
      <div class="row">
          <div class="col-sm-12">
              <div class="container text-center">
                  <a class="btn btn-md btn-white">myTaskr</a>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="cd-fixed-bg cd-bg-3">
 <div style="width: 100%; height: 100%">
        <div class="row" style="text-align: center; padding-top: 10%; color: #ffffff">
            <h2>¿Tienes curiosidad?</h2>
        </div>
        <div class="row" style="text-align: center; padding-top: 8%; color: #ffffff">
            <p>Quizás tengamos intereses comunes…</p>
        </div>
        <div class="row" style="text-align: center; padding-top: 8%">
            <a class="btn btn-md btn-inverse">Contacto</a>
        </div>
    </div>
</div>